body {
    background-color: rgb(3, 150, 187);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

hr {
    color: blue;
}

.jp{
    display: flex;
    align-items: center;
}
.jp img {
    display: flex;
    height: 360px;
    width: auto;
    z-index: 2;
    margin-right: 25px;
}

.manchesterunited {
    display: flex;
    align-items: center;
}
.manchesterunited img {
    display: flex;
    height: 360px;
    width: auto;
    z-index: 2;
    margin-right: 25px;

}
.descrisao-manchester {
    color: black;
    font-size: 120%;
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
}
.saopaulo{
    display: flex;
    align-items: center;
}
.saopaulo img {
    display: flex;
    height: 360px;
    width: auto;
    z-index: 2;
    margin-right: 25px;

}
.descrisao-saopaulo{
    color: black;
    font-size: 120%;
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
    
}
h4,h5 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
